<div class="page-header">
  <h1>PG Blog <small>{{ posts.length }} posts</small></h1>
</div>

<label for="search">Search posts: <strong>{{ query }}</strong></label>
<input type="search" ng-model="query" name="search" id="search">
<label for="sort">Sort by:</label>
<select name="sort" id="sort" ng-model="orderProp">
  <option value="title">Alphabetical</option>
  <option value="comments">Comments</option>
</select>
<ul class="posts">
  <li ng-repeat="post in posts | filter:query | orderBy: orderProp">
    <a href="#/posts/{{ post.slug }}">{{ post.title }}</a>
  </li>
</ul>
